.character-info {
    margin-top: 50px;
    display: flex;
    gap: 50px;
    &__img {
        height: 293px;
        width: 293px;
    }
    &__name {
        font-size: 22px;
        font-weight: 700;
        line-height: 26px;
    }
    &__descr {
        margin-top: 28px;
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
    }
}